<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p [%l] - %m%n"/>
        </Console>
        <RollingRandomAccessFile name="file" fileName="C:\workspace\logs\log4j.log" append="true"
                                 filePattern="C:\workspace\logs\log4j.log.%d{yyyyMMddHH}">
            <PatternLayout>
                <Pattern>%d %-5p [%l] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <!-- 配置日志的根节点 -->
        <root level="debug">
            <appender-ref ref="console"/>
        </root>

        <!-- 日志实例(info),其中'service-log'继承root,但是root将日志输出控制台,而'service-log'将日志输出到文件,
        通过属性'additivity="false"'将'service-log'的的日志不再输出到控制台 -->
        <logger name="serviceLog" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="file"/>
        </logger>

    </Loggers>
</Configuration>  