<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- default cfg -->
    <bean id="grid.cfg" class="org.apache.ignite.configuration.IgniteConfiguration">
        <property name="communicationSpi">
            <bean class="org.apache.ignite.spi.communication.tcp.TcpCommunicationSpi">
                <property name="slowClientQueueLimit" value="1000"/>
            </bean>
        </property>
    </bean>

    <!-- ignite cache cfg -->
    <bean id="ignite.cache.cfg" class="org.apache.ignite.configuration.IgniteConfiguration">
        <!--<property name="clientMode" value="true"/>-->
        <property name="cacheConfiguration">
            <list>
                <!-- Partitioned cache example configuration (Atomic mode). -->
                <bean class="org.apache.ignite.configuration.CacheConfiguration">
                    <property name="name" value="default"/>
                    <property name="atomicityMode" value="ATOMIC"/>
                    <property name="backups" value="1"/>
                </bean>
            </list>
        </property>
    </bean>

    <!-- ignite load data from mysql -->
    <bean id="load.ignite.cfg" class="org.apache.ignite.configuration.IgniteConfiguration">
        <property name="cacheConfiguration">
            <list>
                <bean class="org.apache.ignite.configuration.CacheConfiguration">
                    <property name="name" value="voucherCache"></property>
                    <!-- Enable readThrough-->
                    <property name="readThrough" value="true"></property>
                    <property name="writeThrough" value="true"></property>
                    <!-- Set cacheStoreFactory-->
                    <property name="cacheStoreFactory">
                        <bean class="javax.cache.configuration.FactoryBuilder" factory-method="factoryOf">
                            <constructor-arg value="com.sbtest.ignite.load.VoucherStore"></constructor-arg>
                        </bean>
                    </property>
                    <property name="queryEntities">
                        <list>
                            <bean class="org.apache.ignite.cache.QueryEntity">
                                <property name="keyType" value="java.lang.String"></property>
                                <property name="valueType" value="com.sbtest.dto.Voucher"></property>
                                <property name="fields">
                                    <map>
                                        <entry key="vouName" value="java.lang.String"></entry>
                                        <entry key="vouId" value="java.lang.String"></entry>
                                        <entry key="userId" value="java.lang.String"></entry>
                                    </map>
                                </property>
                            </bean>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
        <property name="peerClassLoadingEnabled" value="true"></property>
    </bean>

</beans>
